@import "../../utilities/scss-variables/variables.scss";

.f_home_movie_container {
  padding: 1rem 0 1rem 1rem;
  margin-bottom: 30px;
  overflow: visible;

  .f_movie_card_sections {
    position: relative;
    padding: 0px 15px;
  }
  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 28px;
    font-weight: 500;
    margin: 20px 0px 20px 15px;
    color: $f_white;
  }

  .f_chevron_icon {
    position: absolute;
    z-index: 99;
    height: 100%;
    @extend .center;

    i {
      font-size: 3rem !important;
      color: $f_white;
    }
  }

  .f_chevron_left {
    left: 0%;
    top: 0%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    transform: translate(0%, 0%);
  }

  .f_chevron_right {
    right: 0%;
    top: 0%;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    transform: translate(0%, 0%);
  }
}