@import "../../utilities/scss-variables/variables.scss";

.f_nav_container {
  padding: 0.1rem 1.2rem;
  user-select: none;
  background: transparent;
  border: none;
  transition: all 0.3s ease;

  a {
    outline: none;
    text-decoration: none;
  }

  .navbar-brand {
    @extend .center;
    span {
      font-weight: 600;
      color: $f_pri;
      text-decoration: none;
      font-size: 34px;
      text-transform: uppercase;
    }
  }

  .navbar-nav {
    padding: 0px;
    margin: 0px;
    @extend .center;
    li {
      position: relative;
      p {
        color: $f_white;
        text-decoration: none;
        margin: 7px 15px;
        cursor: pointer;
        padding: 7px 0px;

        &:hover {
          transition: all 0.5s ease-in-out;
          color: $f_accent;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      i {
        font-size: 1.2rem;
        margin: 7px 20px 7px 15px;
        cursor: pointer;
        padding: 7px 0px;
        color: $f_accent;
        position: relative;
        z-index: 11;
      }
    }
    button {
      padding: 7px 15px;
    }
  }

  .btn_solid {
    background: $f_pri;
    color: $f_white;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    border: none;
    border-radius: 5px;
    font-family: $f_pop;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    @extend .center;

    span {
      margin-right: 10px;

      img {
        margin-bottom: 3px;
      }
    }

    &:hover {
      transition: all 0.3s ease;
      transform: scale(0.98);
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
